.sidebar {
    grid-area: sidebar;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    padding: 20px;
}

.item a {
    color: #ffb703;
    text-decoration: none;;
}
.item a.activeLink{
    color: #545050;
    font-weight: bold;
}

.itemProfile a {
    color: #ffb703;
}

.itemUsers{
    padding-top: 20px;
}
