/*body {*/
/*  background-color: #3a2e2e;*/
/*}*/
body {
  background-color: #7f7f81;
}
.app-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;


  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;

  grid-template-areas: "header header"
                        "sidebar content";
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #fff8ed;

}




