.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px;
}

.dialogsItems {
    color: slategrey;
}

.dialogsItems .activeDialog {
    font-weight: 900;
    color: #c200c2;


}

.dialog a {
    text-decoration: none;
    color: blue
}

.messages {
    color: #ffb703;
}

.messageUser {

}

