.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px;
}

.dialogsItems {
    color: rgba(147, 134, 134, 1);
    border: 2px solid #cb0c0c;



}




.messages {
    color: #ffb703;
}
